
<div ng-app="tdfApp" ng-controller="stageClassificationCtrl" class="classification stage-classification">
    <h2>Stage Classification</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in stageTeams">
                <td>{{$index + 1}}</td>
                <td>{{team.Name}}</td>
            </tr>
        </tbody>

    </table>
</div>

